/******************************************************
GENERAL
******************************************************/

* {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0px;
  overflow: hidden;
  background: radial-gradient(
    ellipse at bottom,
    rgba(179, 183, 212, 0.863) 5%,
    rgb(22, 108, 189) 100%
  );
  font-family: "Roboto", sans-serif;
}

/******************************************************
NAVIGATION
******************************************************/
nav.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  height: 6em;
  background-color: rgba(1, 209, 234, 1) 100%;
}

nav ul {
  /* opacity: 0.5; */
  display: flex;
  font-family: "Josefin Sans", sans-serif;
}

nav ul li {
  list-style: none;
  background: rgba(1, 209, 234, 0.01) 100%;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  margin: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  line-height: 55px;
  opacity: 0.8;
  right: 0.5em;
}

nav ul li:hover {
  background: rgba(1, 209, 234, 0.01) 100%;
  color: rgba(233, 49, 178, 0.863);
}
nav ul li:before,
nav ul li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgba(233, 49, 178, 0.863) 100%;
  transition: 400ms ease all;
}
nav ul li:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

nav ul li:hover:before,
nav ul li:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/******************************************************
Home
******************************************************/
#intro {
  position: fixed;
  top: 10em;
  text-align: center;
  padding: 10px;
  height: 400px;
  width: 100vw;
  height: 100vh;
}

#intro-headline {
  font-family: "Josefin Sans", sans-serif;
  padding: 50px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
}

.letter {
  display: inline-block;
  line-height: 1em;
}

/******************************************************
PROJECTS
******************************************************/
#gallery {
  text-align: center;
  position: fixed;
  top: 9em;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#project-main-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#project-wrapper {
  width: 250px;
  height: 65px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#project-carousel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 400px;
  top: 14.5em;
  z-index: 0;
  align-items: center;
}

#project-links-wrapper {
  position: fixed;
  top: 230px;
  z-index: 100;
  width: 250px;
  display: none;
  color: #fff;
  justify-content: left;
}

#project-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  filter: drop-shadow(6px 6px 4px #4444dd);
}

#project-wrapper:hover > #project-img {
  opacity: 0.5;
  transition: 0.5s;
}

#project-wrapper:hover > #project-links-wrapper {
  display: block;
  transition: 0.5s;
}

/******************************************************
Contacts
******************************************************/
#contacts {
  text-align: center;
  position: fixed;
  top: 8em;
  height: 100vh;
  width: 100vw;
}

#social-media {
  font-family: "Josefin Sans", sans-serif;
  padding: 50px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
}

i.fab {
  color: #e9e9e9;
  padding: 20px;
}

i.fab:hover {
  color: rgba(216, 18, 157, 0.863);
  transition: 700ms;
}

i.fas {
  color: #e9e9e9;
  padding: 20px;
}

i.fas:hover {
  color: rgba(216, 18, 157, 0.863);
  transition: 700ms;
}

/******************************************************/
/*MEDIA QUERIES*/
/******************************************************
NAVIGATION
******************************************************/
@media only screen and (max-width: 800px) {
  nav ul li {
    padding: 0;
    margin: 0.5em;
  }

  #project-carousel {
    width: 355px;
  }
}

/******************************************************
MAIN
******************************************************/

/******************************************************
PROJECTS
******************************************************/
/******************************************************
RESUME
******************************************************/
/******************************************************
CONTACT AND MEDIA
******************************************************/
