/******************************************************
GENERAL
******************************************************/
/*COLORS
Primary Dark = #1B2355
Pimary Light = #A0CCE3
Secondary Dark = #F66464
Secondary Light = #E79294
Tertiary Dark = #8A859B
Tertiary Mid = #BAC0BA
Tertiary Light = #E8ECEF

FONTS
font-family: 'Contrail One', cursive;
font-family: 'Work Sans', sans-serif;
*/

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #f4f7fc ;
  text-decoration: none;
}


body { 
  margin: 0px;
  overflow: hidden;
  background: radial-gradient(ellipse at center,  rgba(179, 183, 212, 0.863) 0%,rgba(1,209,234,1) 100%);
  font-family: 'Roboto', sans-serif;
}


/* 
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
} */


/******************************************************
NAVIGATION
******************************************************/
nav {
  width: 100vw;
  top: 0;
  position: absolute;
}

nav ul{
  /* opacity: 0.5; */
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}


/******************************************************
HOME
******************************************************/



/******************************************************
MAIN (#about-me)
******************************************************/

/******************************************************
PROJECTS
******************************************************/


/******************************************************
RESUME
******************************************************/


/******************************************************/
                 /*MEDIA QUERIES*/
/******************************************************
NAVIGATION
******************************************************/
@media only screen and (min-width: 769px) {
  
}

/******************************************************
MAIN
******************************************************/

/******************************************************
PROJECTS
******************************************************/
/******************************************************
RESUME
******************************************************/
/******************************************************
CONTACT AND MEDIA
******************************************************/
