/******************************************************
GENERAL
******************************************************/

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0px;
  overflow: hidden;
  background: radial-gradient(
    ellipse at bottom,
    rgba(179, 183, 212, 0.863) 15%,
    rgba(1, 209, 234, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}

/******************************************************
NAVIGATION
******************************************************/
nav {
  width: 100vw;
  top: 0;
  position: absolute;
}

nav ul {
  /* opacity: 0.5; */
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

/******************************************************
Introduction
******************************************************/
#intro {
  position: relative;
  top: -45em;
  text-align: center;
}

#intro-headline {
  padding: 50px 0;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  overflow: hidden;
}

.letter {
  display: inline-block;
  line-height: 1em;
}

/******************************************************
MAIN (#about-me)
******************************************************/

/******************************************************
PROJECTS
******************************************************/

/******************************************************
RESUME
******************************************************/

/******************************************************/
/*MEDIA QUERIES*/
/******************************************************
NAVIGATION
******************************************************/
@media only screen and (max-width: 769px) {
  #introduction {
    top: -35em;
  }
}

/******************************************************
MAIN
******************************************************/

/******************************************************
PROJECTS
******************************************************/
/******************************************************
RESUME
******************************************************/
/******************************************************
CONTACT AND MEDIA
******************************************************/
